@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Kanit&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fuzzy Bubbles', 'Kanit', sans-serif, cursive;
}

body {
    background-image: url('/img/fondo_comida_edit.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
}

h3 {
    height: 25px;
}

h5 {
    font-weight: bolder;
    text-transform: uppercase;
}

.carta {
    text-align: center;
}

.cartita {
    cursor: pointer;
}

.carta .cartita:hover {
    filter: contrast(200%);
}

.boton {
   width: 2rem;
}

.barra {
    max-width: 100px; 
    width: 70px;
    margin-right: 15px;
}

.espacio {
    margin: 0 8px;
}

/* footer */
footer {
    margin-top: auto;
}

.texto {
   color: white;
    text-decoration: none;
}

.texto:hover {
    color: rgb(141, 141, 141);
    text-decoration: underline;
}

footer h5 {
    margin-bottom: 20px;
}

footer .social i {
    font-size: 3.5rem;
}

.fa-facebook:hover {
    color: rgb(66, 103, 178);
}

.fa-twitter:hover {
    color: rgb(29, 161, 242);
}

.fa-instagram:hover {
    background: linear-gradient(45deg, 
        rgba(131, 58, 180, 1) 0%,
        rgba(225, 48, 108, 1) 25%,
        rgba(253, 29, 29, 1) 50%,
        rgba(252, 175, 69, 1) 75%,
        rgba(88, 81, 219, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}