h3 {
    height: 25px;
}

h5 {
    font-weight: bolder;
    text-transform: uppercase;
}

.carta {
    text-align: center;
}

img.cartita {
    cursor: pointer;
}


.boton {
   width: 2rem;
}

.barra {
    max-width: 100px; 
    width: 70px;
    margin-right: 15px;
}

.espacio {
    margin: 0 8px;
}