<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3">
    <div class="container">
        <a class="navbar-brand text-light" href="/">
            <i class="fas fa-store"></i> Tienda
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-light px-3" href="/">
                        <i class="fas fa-home"></i> Inicio
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light px-3" href="/add">
                        <i class="fas fa-user-plus"></i> Usuarios
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light px-3" href="/products">
                        <i class="fas fa-box-open"></i> Productos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light px-3" href="/cart">
                        <i class="fas fa-shopping-cart"></i> Carrito
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
